* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* set font size to 10px */
    font-size: 62.5%;
    font-family: Montserrat, "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#art-items-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 10px;
}

.art-item{
    /* background-color: rgb(211, 211, 211); */

    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 15px;
    font-size: 2rem;
    min-width: 20vw;
    display:flex;
}

.found{
    background-color: rgb(249, 138, 138);
}

img {
    object-fit: cover;
    max-width: 350px;
    min-width: 350px;
    max-height: 350px;
    min-height: 350px;

    margin-right: 20px;
}

.description > p {
    margin-bottom: 8px;;
}

.author {
    font-weight: bold;
    font-size: 2.5rem;
}

.name {
    font-style: italic;
}

.phrase {
    margin-top: 25px;
    font-weight: bold;
    font-size: 2.2rem;
}

@media (max-width: 1324px){
    .art-item{
        font-size: 1.5rem;
    }

    img {
        max-width: 250px;
        max-height: 250px;
    }

    .author {
        font-size: 2rem;
    }

    .description > p {
        margin-bottom: 5px;;
    }

    .phrase {
        font-size: 1.8rem;
    }
}

@media (max-width: 1124px){
    .art-item{
        font-size: 1.3rem;
    }

    img {
        max-width: 200px;
        min-width: 200px;
        max-height: 200px;
        min-height: 200px;
    }
    
    .author {
        font-size: 1.5rem;
    }

    .description > p {
        margin-bottom: 3px;;
    }

    .phrase {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px){
    #art-items-list{
        grid-template-columns: 1fr;
    }
    
    .art-item{
        font-size: 1.5rem;
    }
    
    img {
        max-width: 200px;
        min-width: 200px;
        max-height: 200px;
        min-height: 200px;
    }

    .author {
        font-size: 2rem;
    }

    .phrase {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px){
    img {
        max-width: 170px;
        min-width: 170px;
        max-height: 170px;
        min-height: 170px;
    }

    .author {
        font-size: 1.8rem;
    }

    .phrase {
        font-size: 1.5rem;
    }
}

